{{- $alt := .PlainText | safeHTML -}}
{{- $lazyLoading := .Page.Site.Params.enableImageLazyLoading | default true -}}
{{- $dest := .Destination -}}
{{- $url := urls.Parse $dest -}}
{{- $isDaily := false -}}
{{- $isOpportunity := false -}}
{{- $isAccountOpportunity := false -}}
{{- with .Page.File -}}
  {{- $directory := replace .Dir "\\" "/" -}}
  {{- $isDaily = and
    (gt (len (findRE "^[0-9]{4}-[0-9]{2}-[0-9]{2}$" .BaseFileName)) 0)
    (gt (len (findRE "^[0-9]{4}-[0-9]{2}/$" $directory)) 0)
  -}}
  {{- $isOpportunity = and
    (eq $.Page.Section "opportunity")
    (gt (len (findRE "^[0-9]{4}-[0-9]{2}-[0-9]{2}$" .BaseFileName)) 0)
  -}}
  {{- $isAccountOpportunity = and
    (eq $.Page.Section "account-opportunity")
    (gt (len (findRE "^[0-9]{4}-[0-9]{2}-[0-9]{2}$" .BaseFileName)) 0)
  -}}
{{- end -}}
{{- if .Page.IsHome -}}
  {{- $isDaily = true -}}
{{- end -}}
{{- $usesDailyFigure := or $isDaily $isOpportunity $isAccountOpportunity -}}

{{- $scheme := lower $url.Scheme -}}
{{- $isLocal := and (not $url.Scheme) (not $url.Host) -}}
{{- $isPage := and (eq .Page.Kind "page") (not .Page.BundleType) -}}
{{- $startsWithSlash := hasPrefix $dest "/" -}}
{{- $startsWithRelative := hasPrefix $dest "../" -}}

{{- if and $dest $isLocal -}}
  {{- if $startsWithSlash -}}
    {{- with or (.PageInner.Resources.Get $url.Path) (resources.Get $url.Path) -}}
      {{/* Images under assets directory */}}
      {{- $query := cond $url.RawQuery (printf "?%s" $url.RawQuery) "" -}}
      {{- $fragment := cond $url.Fragment (printf "#%s" $url.Fragment) "" -}}
      {{- $dest = printf "%s%s%s" .RelPermalink $query $fragment -}}
    {{- else -}}
      {{/* Images under static directory */}}
      {{- $dest = (relURL (strings.TrimPrefix "/" $dest)) -}}
    {{- end -}}
  {{- else if and $isPage (not $startsWithRelative) -}}
    {{/* Images that are sibling to the individual page file */}}
    {{ $dest = (printf "../%s" $dest) }}
  {{- end -}}
{{- end -}}

{{- $proxy := "https://images.weserv.nl/?url=" -}}
{{- $isExternal := or (eq $scheme "http") (eq $scheme "https") $url.Host -}}
{{- $proxyBypassHosts := slice "i.imgur.com" "wechat2rss.bestblogs.dev" -}}
{{- $bypassProxy := in $proxyBypassHosts (lower $url.Host) -}}
{{- if and $dest $isExternal (not $bypassProxy) (not (hasPrefix $dest $proxy)) -}}
  {{- if and (not $scheme) (hasPrefix $dest "//") -}}
    {{- $dest = printf "https:%s" $dest -}}
  {{- end -}}
  {{- $dest = printf "%s%s" $proxy (urlquery $dest) -}}
{{- end -}}

{{- $attributes := "" -}}
{{- range $key, $value := .Attributes -}}
  {{- if $value -}}
    {{- $pair := printf "%s=%q" $key ($value | transform.HTMLEscape) -}}
    {{- $attributes = printf "%s %s" $attributes $pair -}}
  {{- end -}}
{{- end -}}

{{- $caption := .Title -}}
{{- if and $usesDailyFigure (not $caption) (not (findRE `(?i)^(image|图片|ai资讯图片|ai资讯配图)$` (.PlainText | strings.TrimSpace))) -}}
  {{- $caption = .PlainText -}}
{{- end -}}

{{- if or $usesDailyFigure $caption -}}
  <figure{{ if $usesDailyFigure }} class="ai-daily-figure"{{ end }}>
    <img src="{{ $dest | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }} alt="{{ $alt }}" {{ $attributes | safeHTMLAttr }} {{ if $lazyLoading }}loading="lazy"{{ end }} />
    {{- with $caption }}
      <figcaption>{{ . }}</figcaption>
    {{- end }}
  </figure>
{{- else -}}
  <img src="{{ $dest | safeURL }}" alt="{{ $alt }}" {{ $attributes | safeHTMLAttr }} {{ if $lazyLoading }}loading="lazy"{{ end }} />
{{- end -}}
